{% extends 'core/admin_base.html' %}

{% block breadcrumbs %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb link-hover text-dark text-decoration-none fs-5">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" class="link-hover text-dark text-decoration-none">
                    Главная
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'admin_tags' %}" class="link-hover text-dark text-decoration-none">
                    Теги
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Редактирование тега</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}

{% block content %}


    <form class="shadow p-3 rounded-2 d-flex flex-column gap-4 position-relative" method="POST" action=".">

        {% csrf_token %}

        <div class="text-center">
            <span class="fw-bold fs-5">id: </span>
            <span class="fw-bold fs-5">{{ tag.id }}</span>
        </div>

        <div class="row">

            <div class="col-12">
                <div class="input-group">
                    <label for="{{ form.name.id_for_label}}" class="input-group-text w-10r" id="basic-addon1">{{ form.name.label }}</label>
                    {{ form.name }}
                </div>
            </div>

            <div class="col-12 mt-4">
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-lg btn-c_yellow-700">Сохранить</button>
                    <button type="button" class="btn btn-lg btn-c_grey-100" data-goto="{{ tag.get_admin_show_url }}">Отмена</button>
                </div>
            </div>

        </div>

    </form>


    <!-- services -->

    <form class="shadow p-3 rounded-2 d-flex flex-column gap-4 mt-5 position-relative">

        <i class="fa-regular fa-trash-can text-danger card_icon card_icon__delete"></i>

        <div class="text-center">
            <span class="fw-bold fs-5">Прикреплен к:</span>
        </div>

        <div class="shadow p-3 rounded-2 justify-content-between row w-100 mx-auto">

            <div class="col-12 row justify-content-between mx-auto p-0">

                <div class="col-md-3 col-6">
                    <div>
                        <label for="service_id" class="form-label">id:</label>
                        <input type="text" class="form-control " id="service_id">
                    </div>
                </div>

                <div class="col-lg-8 col-12 mt-lg-0 mt-3">

                    <label for="service_name" class="form-label">Наименование:</label>
                    <input type="text" class="form-control" id="service_name">

                </div>

            </div>

            <div class="col-12 mt-3">
                <button class="btn btn-c_yellow-700 w-100 ">Найти</button>
            </div>


        </div>


        <form class="overflow-auto mt-4" method="post" action="">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th scope="col" class="bg-c_yellow-700 text-nowrap col-hover" role="button">
                        id <i class="fa-solid fa-arrow-up-short-wide text-c_yellow-700"></i>
                    </th>
                    <th scope="col" class="text-nowrap col-hover" role="button">
                        Наименование <i class="fa-solid fa-arrow-up-short-wide text-c_yellow-700"></i>
                    </th>
                    <th scope="col" class="px-3 text-center" >Убрать</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="p-0" colspan="3">
                            <button class="btn btn-c_grey-100 w-100 rounded-0 py-2 fw-bold">+ Добавить</button>
                        </td>
                    </tr>

                    {% for offer in tag.offers.all %}
                        <tr>
                            <th scope="row">{{ offer.id }}</th>
                            <td class="text-nowrap">
                                <a href="{{ offer.get_admin_show_url }}" class="link-hover">
                                    {{ offer.name }}
                                </a>
                            </td>
                            <td class="p-0 position-relative w-10r">
                                <button class="btn btn-danger w-100 rounded-0 h-100 position-absolute" type="button" >Убрать</button>
                            </td>
                        </tr>
                    {% endfor %}


                </tbody>
            </table>
        </form>

{% endblock content %}
