{% extends 'core/admin_base.html' %}

{% block breadcrumbs %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb link-hover text-dark text-decoration-none fs-5">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" class="link-hover text-dark text-decoration-none">
                    Главная
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Теги</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}

{% block content %}

    <form class="shadow p-3 rounded-2 position-relative find_form" action="{% url 'admin_tags' %}" method="GET">

        <i class="fa-regular fa-trash-can text-danger card_icon card_icon__delete clean_btn"></i>

        <div class="row align-items-start justify-content-between py-3">

            <div class="col-12 row justify-content-between mx-auto p-0">

                <div class="col-md-3 col-6">
                    <label for="{{ form_tags.id.id_for_label }}" class="form-label">{{ form_tags.id.label }}</label>
                    {{ form_tags.id }}
                </div>

                <div class="col-md-8 col-12 mt-md-0 mt-3">
                    <label for="{{ form_tags.name.id_for_label }}" class="form-label">{{ form_tags.name.label }}</label>
                    {{ form_tags.name }}
                </div>

                {{ form_tags.sort_by }}
                {{ form_tags.page }}

                <div class="col-12 mt-3">
                    <button class="btn btn-c_yellow-700 w-100 ">Найти</button>
                </div>

            </div>


        </div>

    </form>

    <div class="shadow mt-4 rounded-2 overflow-auto">
    <button class="btn btn-c_grey-100 w-100 rounded-0 py-2 fw-bold" type="button" data-goto="{% url 'admin_create_tag' %}">+ Создать</button>
        <table class="table table-striped table-hover table-bordered">
            <thead data-find-form=".find_form">
            <tr>
                <th scope="col" class="bg-c_yellow-700 text-nowrap col-hover" role="button" data-sortby="id" data-sortby-active>
                    id <i class="fa-solid fa-arrow-down-short-wide text-c_yellow-700"></i>
                </th>
                <th scope="col" class="text-nowrap col-hover" role="button" data-sortby="name">
                    Наименование <i class="fa-solid fa-arrow-down-short-wide text-c_yellow-700"></i>
                </th>
            </tr>
            </thead>
            <tbody>

                {% for tag in page_obj %}

                    <tr>
                        <th scope="row">{{ tag.id }}</th>
                        <td>
                            <a href="{{ tag.get_admin_show_url }}" class="link-hover d-block">{{ tag.name }}</a>
                        </td>
                    </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>

    {% include 'core/pagination.html' %}

{% endblock content %}