{#{% load static %}#}

{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    {% block static_render %}
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        {% render_bundle 'client' 'css' %}
        {% render_bundle 'client' 'js' attrs='defer' %}
    {% endblock static_render %}

    <script async src="https://kit.fontawesome.com/c98347f4c9.js" crossorigin="anonymous"></script>

    {% block header_meta %}
    {% endblock header_meta %}
</head>

<body>

    <header class="header">
        <div class="content_container">
            <div class="header_inner">

                <div class="header_upper">

                    <div class="header_upper_section">
                        <p class="header_upper_contacts">
                            <a href="tel:999-555-222" class="header_link">
                                <i class="fa-solid fa-phone"></i> 999-555-222
                            </a>
                        </p>
                        <p class="header_upper_contacts">
                            <a href="mailto:crystal_lake@lake.com" class="header_link">
                                <i class="fa-solid fa-envelope"></i> crystal_lake@lake.com
                            </a>
                        </p>
                    </div>

                    <div class="header_upper_section">
                        <p class="header_upper_address">
                            <a href="{% url 'contacts' %}#main_map" class="header_link">
                                <i class="fa-solid fa-location-dot"></i> Россия, Иркутская область, Кристальные озера
                            </a>
                        </p>
                    </div>

                    <div class="header_upper_section header_upper_section_socials">
                        <a href="#" class="header_link"><i class="fa fa-brands fa-instagram"></i></a>
                        <a href="#" class="header_link"><i class="fa fa-brands fa-vk"></i></a>
                        <a href="#" class="header_link"><i class="fa fa-brands fa-facebook"></i></a>
                    </div>
                </div>

                <div class="header_under">

                    <a href="{% url 'index' %}" class="header_logo header_link">
                        Crystal Lake
                    </a>

                    <nav class="header_menu">
                        <a href="{% url 'index' %}" class="header_menu_item header_link {% if current_page == 'index' %} header_menu_item__active {% endif %}" data-text="Главная">Главная</a>
                        <a href="{% url 'rooms' %}" class="header_menu_item header_link {% if current_page == 'rooms' %} header_menu_item__active {% endif %}"  data-text="Номера">Номера</a>
                        <a href="{% url 'services' %}" class="header_menu_item header_link {% if current_page == 'services' %} header_menu_item__active {% endif %}" data-text="Услуги">Услуги</a>
                        <a href="{% url 'contacts' %}" class="header_menu_item header_link {% if current_page == 'contacts' %} header_menu_item__active {% endif %}" data-text="Контакты">Контакты</a>
                        <a href="{% url 'cart' %}" class="header_menu_item header_link {% if current_page == 'cart' %} header_menu_item__active {% endif %}" data-text="Корзина">Корзина</a>
                        {% if user.is_authenticated and user.is_active %}
                            <a href="{% url 'active_orders' %}" class="header_menu_item header_link {% if current_page == 'profile' %} header_menu_item__active {% endif %}" data-text="Личный кабинет">Личный кабинет</a>
                        {% else %}
                            <p class="header_menu_item header_link {% if current_page == 'profile' %} header_menu_item__active {% endif %}" id="login_open" data-text="Личный кабинет">Личный кабинет</p>
                        {% endif %}
                    </nav>

                    <div class="header_burger">
                        <span></span>
                    </div>

                </div>

            </div>
        </div>
    </header>

    {% block content %}

    {% endblock content %}

    <footer class="footer">

        <div class="content_container">

            <div class="footer_inner">

                <div class="footer_section footer_section__info">
                    <h3 class="footer_title">Crystal Lake</h3>
                    <a href="{% url 'contacts' %}#main_map" class="footer_link">Россия, Иркутская область, Кристальные Озера</a>
                    <button class="button__footer" data-goto="rooms.html">Забронировать</button>
                </div>

                <div class="footer_section footer_section__menu">
                    <h3 class="footer_title">Навигация</h3>
                    <div class="footer_menu_inner">

                        <div class="footer_menu_column">
                            <a href="{% url 'index' %}" class="footer_link">Главная</a>
                            <a href="{% url 'rooms' %}" class="footer_link">Номера</a>
                            <a href="{% url 'services' %}" class="footer_link">Услуги</a>
                        </div>
                        <div class="footer_menu_column">
                            <a href="{% url 'contacts' %}" class="footer_link">Контакты</a>
                            <a href="{% url 'cart' %}" class="footer_link">Корзина</a>

                            {% if user.is_authenticated and user.is_active %}
                                <a href="{% url 'active_orders' %}" class="footer_link">Личный кабинет</a>
                            {% else %}
                                <p class="footer_link" id="login_open__footer">Личный кабинет</p>
                            {% endif %}
                        </div>

                    </div>
                </div>

                <div class="footer_section footer_section__socials">
                    <h3 class="footer_title">Контакты</h3>
                    <p class="footer_text">
                        <a href="tel:999-555-222" class="footer_link">
                            <i class="fa-solid fa-phone"></i> 999-555-222
                        </a>
                    </p>
                    <p class="footer_text">
                        <a href="mailto:crystal_lake@lake.com" class="footer_link">
                            <i class="fa-solid fa-envelope"></i> crystal_lake@lake.com
                        </a>
                    </p>
                    <div class="footer_socials_inner">
                        <a href="#" class="footer_link"><i class="fa fa-brands fa-instagram"></i></a>
                        <a href="#" class="footer_link"><i class="fa fa-brands fa-vk"></i></a>
                        <a href="#" class="footer_link"><i class="fa fa-brands fa-facebook"></i></a>
                    </div>
                </div>


            </div>

        </div>

    </footer>

    {% block popups %}

    {% endblock popups %}

</body>

</html>