{% for client in clients_list %}
    <tr>
        <th scope="row">{{ client.id }}</th>
        <td>
            <a class="link-hover" href="{{ client.get_admin_show_url }}">{{ client.full_name }}</a>
        </td>
        <td>{{ client.phone }}</td>
        <td class="p-0 position-relative w-10r">
            <button data-id="{{ client.id }}" data-phone="{{ client.phone }}" data-name="{{ client.full_name }}" data-link="{{ service.get_admin_show_url }}" class="btn btn-primary w-100 rounded-0 h-100 position-absolute" data-bs-dismiss="modal" type="button" data-bs-toggle="modal" data-bs-target="{{ popup_to_open }}">
                Выбрать
            </button>
        </td>
    </tr>
{% endfor %}

