<div class="modal_wrapper modal_wrapper__dark" id="login_modal">
    <div class="login_popup" id="login_popup">

        <div class="login_title">
            <p class="login_link login_link__active">Вход</p>
            <span>/</span>
            <p class="login_link" id="goto_singup">Регистрация</p>
            <button class="login_close" id="login_close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>

        <div class="login_fields">
            <input class="login_field input_field" type="text" name="phone" id="phone" placeholder="Номер телефона">
            <input class="login_field input_field" type="text" name="password" id="password" placeholder="Пароль">
        </div>

        <div>
            <p class="login_reset">Забыли пароль?</p>
        </div>

        <div class="login_buttons">
            <button class="login_button" id="end_login_button">Войти</button>
        </div>

    </div>

    <div class="login_popup" id="signup_popup">

        <div class="login_title">
            <p class="login_link" id="goto_login">Вход</p>
            <span>/</span>
            <p class="login_link login_link__active">Регистрация</p>
            <button class="login_close" id="signup_close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>

        <div class="login_fields">
            <input class="login_field input_field" type="text" name="phone" id="phone" placeholder="Номер телефона">
        </div>

        <div class="login_buttons">
            <button class="login_button" id="end_signup_button">Прислать пароль</button>
        </div>

    </div>
</div>