{% extends 'core/base.html' %}

{% block content %}
    <section class="section">

        <div class="content_container">

            <h2 class="section_title">Личный кабинет</h2>

            <div class="breadcrumbs">
                <a href="{% url 'index' %}" class="breadcrumbs_item">Главная</a>
                <span>&#10148;</span>
                <a href="{% url 'client_info' %}" class="breadcrumbs_item">Профиль</a>
                <span>&#10148;</span>
                <p class="breadcrumbs_item breadcrumbs_item__active">Изменить пароль</p>
            </div>

            <div class="profile">

                {% include 'client_profile/profile_menu.html' %}

                <div class="profile_content">

                    <form class="profile_info ajax_redirect" action="." method="post">

                        {% csrf_token %}

                        <div class="fields">

                            <div class="errors_wrapper"></div>
{#                            {% for field in form %}#}
{#                                {% if field.errors %}#}
{#                                    <div class="errors_wrapper">#}
{#                                        <ul>#}
{#                                            {% for error in field.errors %}#}
{#                                                <li>{{ error }}</li>#}
{#                                            {% endfor %}#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                {% endif %}#}
{#                            {% endfor %}#}

                            <div class="field_item">
                                <label for="{{ passwords_form.password1.id_for_label }}" class="profile_label">{{ passwords_form.password1.label }}</label>
                                <div class="field_content">
                                    {{ passwords_form.password1 }}
                                </div>
                            </div>

                            <div class="field_item">
                                <label for="{{ passwords_form.password2.id_for_label }}" class="profile_label">{{ passwords_form.password2.label }}</label>
                                <div class="field_content">
                                    {{ passwords_form.password2 }}
                                </div>
                            </div>

                            <div class="field_item">
                                <label for="{{ code_form.code.id_for_label }}" class="profile_label">{{ code_form.code.label }}</label>
                                <div class="field_content">
                                    {{ code_form.code }}
                                </div>
                            </div>

                        </div>

                        <div class="profile_info_btns">
                            <button class="button__profile button__profile__save" type="submit">
                                Сохранить
                            </button>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </section>

{% endblock content %}
