{% extends 'core/base.html' %}

{% block header_meta %}
    <title>
        Crystal Lake | История заказов
    </title>
{% endblock header_meta %}

{% block content %}
    <section class="section">

        <div class="content_container">

            <h2 class="section_title">Личный кабинет</h2>

            <div class="breadcrumbs">
                <a href="{% url 'index' %}" class="breadcrumbs_item">Главная</a>
                <span>&#10148;</span>
                <p class="breadcrumbs_item breadcrumbs_item__active">История заказов</p>
            </div>

            <div class="profile">

                {% include 'client_profile/profile_menu.html' %}

                <form class="profile_content" method="get" action=".">

{#                    {% include 'client_profile/orders_filter.html' %}#}

                    <div class="catalog_long">

                        {% for order in page_obj %}
                            <div class="card_long">

                                {% if order.main_offer.get_main_photo %}
                                    <img src="{{ order.main_offer.get_main_photo.url }}" alt="{{ order.name }}" class="card_long_img">
                                {% endif %}

                                <div class="card_long_inner">
                                    <div class="card_long_desciption">
                                        <a href="{{ order.get_client_history_url }}" class="card_long_name">{{ order.name }}</a>
                                        <div class="card_long_stats">
                                            <div class="card_long_text">
                                                <p>Дата создания:</p>
                                                <span class="highlighted">{{ order.date_create }}</span>
                                            </div>
                                            <div class="card_long_text">
                                                <p>Дата завершения:</p>
                                                {% if order.date_finished %}
                                                    <span class="highlighted">{{ order.date_finished }}</span>
                                                {% else %}
                                                    <span class="highlighted">{{ order.date_canceled }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="card_long_text">
                                                <p>Суммарная цена: </p>
                                                <span class="highlighted">{{ order.price }}&#8381;</span>
                                            </div>
                                            <div class="card_long_text">
                                                <p>Статус:</p>
                                                <span class="highlighted">{{ order.status }}</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        {% endfor %}

                    </div>

                    {% include 'core/client_pagination.html' %}

                </form>

            </div>

        </div>

    </section>

{% endblock content %}
