<div class="profile_burger">
    <span></span>
    <p class="profile_burger_title">Личный кабинет</p>
</div>

<div class="profile_menu">
    <div class="profile_menu_item">
        <i class="fa-solid fa-list-ul"></i>
        {% if current_profile_page == 'active_orders' %}
            <a href="{% url 'active_orders' %}" class="profile_menu_title profile_menu_title__active">Активные заказы</a>
        {% else %}
            <a href="{% url 'active_orders' %}" class="profile_menu_title">Активные заказы</a>
        {% endif %}
    </div>
    <div class="profile_menu_item">
        <i class="fa-solid fa-clock-rotate-left"></i>
        {% if current_profile_page == 'history' %}
            <a href="{% url 'history' %}" class="profile_menu_title profile_menu_title__active">История заказов</a>
        {% else %}
            <a href="{% url 'history' %}" class="profile_menu_title">История заказов</a>
        {% endif %}
    </div>
    <div class="profile_menu_item">
        <i class="fa-regular fa-user"></i>
        {% if current_profile_page == 'info' %}
            <a href="{% url 'client_info' %}" class="profile_menu_title profile_menu_title__active">Профиль</a>
        {% else %}
            <a href="{% url 'client_info' %}" class="profile_menu_title">Профиль</a>
        {% endif %}
    </div>
    <div class="profile_menu_item">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <a href="{% url 'client_logout' %}" class="profile_menu_title">Выйти</a>
    </div>
</div>
