{% extends 'offer/base_admin_edit_offer.html' %}

{% block breadcrumbs %}
    {% with offer as room %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb link-hover text-dark text-decoration-none fs-5">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" class="link-hover text-dark text-decoration-none">
                    Главная
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'admin_rooms' %}" class="link-hover text-dark text-decoration-none">
                    Номера
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ room.get_admin_show_url }}" class="link-hover text-dark text-decoration-none">
                    Просмотр номера
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Редактирование номера</li>
        </ol>
    </nav>
    {% endwith %}
{% endblock breadcrumbs %}

{% block properties %}

    {% with form as form_room %}
        <div class="col-lg-6 col-12">
            <div class="input-group">
                <label class="input-group-text w-10r" for="{{ form_room.name.id_for_label }}">{{ form_room.name.label }}</label>
                {{ form_room.name }}
            </div>
        </div>

        <div class="col-md-6 col-12 mt-lg-0 mt-4">
            <div class="input-group flex-nowrap w-auto">
                <label class="input-group-text w-10r" for="{{ form_room.beds.id_for_label }}">{{ form_room.beds.label }}</label>
                {{ form_room.beds }}
            </div>
        </div>

        <div class="col-md-6 col-12 mt-4">
            <div class="input-group flex-nowrap w-auto">
                <label class="input-group-text w-10r" for="{{ form_room.default_price.id_for_label }}">{{ form_room.default_price.label }}</label>
                {{ form_room.default_price }}
            </div>
        </div>

        <div class="col-md-6 col-12 mt-4">
            <div class="input-group flex-nowrap w-auto">
                <label class="input-group-text w-10r" for="{{ form_room.weekend_price.id_for_label }}">{{ form_room.weekend_price.label }}</label>
                {{ form_room.weekend_price }}
            </div>
        </div>

        <div class="col-md-6 col-12 mt-4">
            <div class="input-group flex-nowrap w-auto">
                <label class="input-group-text w-10r" for="{{ form_room.rooms.id_for_label }}">{{ form_room.rooms.label }}</label>
                {{ form_room.rooms }}
            </div>
        </div>

        <div class="col-md-6 col-12 mt-4">
            <div class="input-group flex-nowrap w-auto">
                <label class="input-group-text w-10r" for="{{ form_room.square.id_for_label }}">{{ form_room.square.label }}</label>
                {{ form_room.square }}
            </div>
        </div>

        <div class="col-md-6 col-12 mt-4">
            <div class="input-group flex-nowrap w-auto">
                <label class="input-group-text w-10r" for="{{ form_room.floors.id_for_label }}">{{ form_room.floors.label }}</label>
                {{ form_room.floors }}
            </div>
        </div>

{#        <div class="col-md-6 col-12 mt-4">#}
{#            <div class="input-group flex-nowrap w-auto">#}
{#                <label for="manage_bonus" class="input-group-text w-10r" id="basic-addon1">Макс. бонусов (%)</label>#}
{#                <input id="manage_bonus" type="number" class="form-control " value="40">#}
{#            </div>#}
{#        </div>#}

        <div class="col-md-6 col-12 mt-4">
            <div class="input-group flex-nowrap w-auto">
                <label class="input-group-text w-10r" for="{{ form_room.prepayment_percent.id_for_label }}">{{ form_room.prepayment_percent.label }}</label>
                {{ form_room.prepayment_percent }}
            </div>
        </div>

{#        <div class="col-md-6 col-12 mt-4">#}
{#            <div class="input-group flex-nowrap w-auto">#}
{#                <label for="manage_prepayment_money" class="input-group-text w-10r" id="basic-addon1">Предоплата (&#8381;)</label>#}
{#                <input id="manage_prepayment_money" type="number" class="form-control " value="">#}
{#            </div>#}
{#        </div>#}

        <div class="col-md-6 col-12 mt-4">
            <div class="input-group flex-nowrap w-auto">
                <label class="input-group-text w-10r" for="{{ form_room.refund_percent.id_for_label }}">{{ form_room.refund_percent.label }}</label>
                {{ form_room.refund_percent }}
            </div>
        </div>

        <div class="col-md-6 col-12 mt-4">
            <div class="form-check">
                <label class="form-check-label" for="{{ form_room.is_hidden.id_for_label }}">{{ form_room.is_hidden.label }}</label>
                {{ form_room.is_hidden }}
            </div>
        </div>
    {% endwith %}

{% endblock properties %}

{% block additional_info %}
    <!-- rooms -->
    {% with offer as room %}
    <div class="shadow p-3 d-flex flex-column gap-4 mt-5">

        <div class="text-center">
            <span class="fw-bold fs-5">Номера этого типа</span>
        </div>

        <div class="overflow-auto mt-4 rounded-2">
            <form action="{{ room.get_create_same_room_url }}" method="POST" id="add_same_room">
                {% csrf_token %}
                <button class="btn btn-c_grey-100 w-100 rounded-0 py-2 fw-bold">+ Добавить</button>
            </form>

            <form action="{{ room.get_del_same_room_url }}" method="POST" data-additional-form>

                {% csrf_token %}

                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Номер</th>
                        <th scope="col" class="px-3 text-center" >Убрать</th>
                    </tr>
                    </thead>
                    <tbody class="additional_info_tbody" id="same_rooms_list_body">
                        {% for same_room in room.get_same_rooms %}
                            <tr>
                                <th scope="row">{{ same_room.pk }}</th>
                                <td class="p-0 position-relative w-10r">
                                    <button class="btn btn-danger w-100 rounded-0 h-100 position-absolute" type="button" data-id="{{ same_room.pk }}">Убрать</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </form>

        </div>


    </div>
    {% endwith %}

    <!-- end rooms -->
{% endblock additional_info %}