{% extends 'core/admin_base.html' %}

{% block breadcrumbs %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb link-hover text-dark text-decoration-none fs-5">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" class="link-hover text-dark text-decoration-none">
                    Главная
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Номера</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}

{% block content %}


    <form class="shadow p-3 rounded-2 position-relative find_form" action="{% url 'admin_rooms' %}" method="GET">

        <i class="fa-regular fa-trash-can text-danger card_icon card_icon__delete clean_btn"></i>

        <div class="row align-items-start justify-content-between">

            <div class="col-lg-12 col-12 row mx-auto p-0">

                <div class="col-lg-2 col-md-2 col-12">
                    <label for="{{ form_rooms.id.id_for_label }}" class="form-label">{{ form_rooms.id.label }}</label>
                    {{ form_rooms.id }}
                </div>

                <div class="col-lg-5 col-md-5 col-6 mt-md-0 mt-3 d-flex justify-content-md-end">
                    <div>
                        <span class="form-label">Кол-во спальных мест:</span>
                        <div class="d-flex justify-content-start gap-0">
                            <div class="input-group flex-nowrap w-auto">
                                <label for="{{ form_rooms.beds_from.id_for_label }}" class="input-group-text rounded-start" >{{ form_rooms.beds_from.label }}</label>
                                {{ form_rooms.beds_from }}
                            </div>
                            <div class="input-group flex-nowrap w-auto">
                                <label for="{{ form_rooms.beds_until.id_for_label }}" class="input-group-text  rounded-0" >{{ form_rooms.beds_until.label }}</label>
                                {{ form_rooms.beds_until }}
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-5 col-md-5 col-6 mt-md-0 mt-3">
                    <label for="room_rooms" class="form-label">Кол-во комнат:</label>
                    <div class="d-flex justify-content-start gap-0">
                        <div class="input-group flex-nowrap w-auto">
                            <label for="{{ form_rooms.rooms_from.id_for_label }}" class="input-group-text rounded-start" >{{ form_rooms.rooms_from.label }}</label>
                            {{ form_rooms.rooms_from }}
                        </div>
                        <div class="input-group flex-nowrap w-auto">
                            <label  for="{{ form_rooms.rooms_until.id_for_label }}" class="input-group-text  rounded-0" >{{ form_rooms.rooms_until.label }}</label>
                            {{ form_rooms.rooms_until }}
                        </div>
                    </div>
                </div>

                <div class="col-md-7 col-12 mt-3">
                    <label for="{{ form_rooms.name.id_for_label }}" class="form-label">{{ form_rooms.name.label }}</label>
                    {{ form_rooms.name }}
                </div>

                <div class="col-md-5 col-12 mt-3">
                    <span class="form-label">Свободен:</span>

                    <div class="d-flex justify-content-start gap-0">
                        <div class="input-group flex-nowrap w-auto">
                            <label for="{{ form_rooms.dates_from.id_for_label }}" class="input-group-text rounded-start" >{{ form_rooms.dates_from.label }}</label>
                            {{ form_rooms.dates_from }}
                        </div>
                        <div class="input-group flex-nowrap w-auto">
                            <label for="{{ form_rooms.dates_until.id_for_label }}" class="input-group-text  rounded-0" >{{ form_rooms.dates_until.label }}</label>
                            {{ form_rooms.dates_until }}
                        </div>
                    </div>
                </div>

                <div class="col-md-7 col-12 mt-3">
                    <span class="form-label">Обычная цена:</span>

                    <div class="d-flex justify-content-start gap-0">
                        <div class="input-group flex-nowrap w-auto">
                            <label for="{{ form_rooms.price_from.id_for_label }}" class="input-group-text rounded-start" >{{ form_rooms.price_from.label }}</label>
                            {{ form_rooms.price_from }}
                        </div>
                        <div class="input-group flex-nowrap w-auto">
                            <label for="{{ form_rooms.price_until.id_for_label }}" class="input-group-text  rounded-0" >{{ form_rooms.price_until.label }}</label>
                            {{ form_rooms.price_until }}
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-12 mt-3">
                    <label for="room_wek_price" class="form-label">Цена по праздникам:</label>

                    <div class="d-flex justify-content-start gap-0">
                        <div class="input-group flex-nowrap w-auto">
                            <label for="{{ form_rooms.weekend_price_from.id_for_label }}" class="input-group-text rounded-start" >{{ form_rooms.weekend_price_from.label }}</label>
                            {{ form_rooms.weekend_price_from }}
                        </div>
                        <div class="input-group flex-nowrap w-auto">
                            <label for="{{ form_rooms.weekend_price_until.id_for_label }}" class="input-group-text  rounded-0" >{{ form_rooms.weekend_price_until.label }}</label>
                            {{ form_rooms.weekend_price_until }}
                        </div>
                    </div>
                </div>

                {{ form_rooms.sort_by }}
                {{ form_rooms.page }}

                <div class="col-12 mt-4">
                    <button class="btn btn-c_yellow-700 w-100 ">Найти</button>
                </div>

            </div>


        </div>

    </form>

    <div class="shadow mt-4 rounded-2 overflow-auto">
     <button class="btn btn-c_grey-100 w-100 rounded-0 py-2 fw-bold" type="button" data-goto="{% url 'admin_create_room' %}">+ Создать</button>
        <table class="table table-striped table-hover table-bordered">
            <thead data-find-form=".find_form">
            <tr>
                <th scope="col" class="bg-c_yellow-700 text-nowrap col-hover" role="button" data-sortby="id" data-sortby-active>
                    id <i class="fa-solid fa-arrow-down-short-wide text-c_yellow-700"></i>
                </th>
                <th scope="col" class="text-nowrap col-hover" role="button" data-sortby="name">
                    Наименование <i class="fa-solid fa-arrow-down-short-wide text-c_yellow-700"></i>
                </th>
                <th scope="col" class="text-nowrap col-hover" role="button" data-sortby="beds">
                    Спальных мест <i class="fa-solid fa-arrow-down-short-wide text-c_yellow-700"></i>
                </th>
                <th scope="col" class="text-nowrap col-hover" role="button" data-sortby="rooms">
                    Комнат <i class="fa-solid fa-arrow-down-short-wide text-c_yellow-700"></i>
                </th>
                <th scope="col" class="text-nowrap col-hover" role="button" data-sortby="default_price">
                    Обычная цена <i class="fa-solid fa-arrow-down-short-wide text-c_yellow-700"></i>
                </th>
                <th scope="col" class="text-nowrap col-hover" role="button" data-sortby="weekend_price">
                    Празд. цена <i class="fa-solid fa-arrow-down-short-wide text-c_yellow-700"></i>
                </th>
            </tr>
            </thead>
            <tbody>

                {% for room in page_obj %}

                    <tr>
                        <th scope="row">{{ room.id }}</th>
                        <td>
                            <a href="{{ room.get_admin_show_url }}" class="link-hover d-block">{{ room.name }}</a>
                        </td>
                        <td>{{ room.beds }}</td>
                        <td>{{ room.rooms }}</td>
                        <td>{{ room.default_price.to_integral_value }}&#8381;</td>
                        <td>{{ room.weekend_price.to_integral_value }}&#8381;</td>
                    </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>

    {% include 'core/pagination.html' %}

{% endblock content %}