{% extends 'offer/base_offer.html' %}

{% block offer_header_meta %}
    <title>
        Crystal Lake | Забронировать номер {{ offer.name }}, для {{ offer.beds }} человек, {{ offer.rooms }} комнат
    </title>
    <meta name="description" content="Номер {{ offer.name }}, комфорт, удобство, низная цена всего {{ offer.default_price }} за сутки, смотри свободые даты онлайн и бронируй">
{% endblock offer_header_meta %}
{% block offer_json_ld %}
    "@type": ["HotelRoom", "Product"],
    "smokingAllowed": false,
    "petsAllowed": true,
    "bed": "{{ offer.beds }}",
    "occupancy": {{ offer.beds }},
    "floorSize": {{ offer.square|floatformat:"0" }},
    "numberOfRooms": {{ offer.rooms }},
{% endblock offer_json_ld %}
{% block breadcrumbs_json_ld %}
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement":
        [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Главная",
                "item": "{% url 'index' %}"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Номера",
                "item": "{% url 'rooms' %}"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "{{ offer.name }}",
                "item": "{{ offer.get_absolute_url }}"
            }
        ]
    }
{% endblock breadcrumbs_json_ld %}

{% block breadcrumbs %}
    <a href="{% url 'index' %}" class="breadcrumbs_item">Главная</a>
    <span>&#10148;</span>
    <a href="{% url 'rooms' %}" class="breadcrumbs_item">Номера</a>
    <span>&#10148;</span>
    <a href="#" class="breadcrumbs_item">{{ offer.name }}</a>
{% endblock breadcrumbs %}

{% block info_dates %}
    <div class="info">
        <h3 class="info_title">Подробное описание</h3>
        <ul class="info_stats">
            <li class="stat_item">Спальных мест:
                <span class="highlighted">
                    {{ offer.beds }}
                </span>
            </li>
            <li class="stat_item">Количество комнат:
                <span class="highlighted">
                    {{ offer.rooms }}
                </span>
            </li>
            <li class="stat_item">Этажей:
                <span class="highlighted">
                    {{ offer.floors }}
                </span>
            </li>
            <li class="stat_item">Площадь:
                <span class="highlighted">
                    {{ offer.square }} м&#178;
                </span>
            </li>
        </ul>
    </div>
    <div class="dates">

        <h3 class="dates_title">Занятость номера</h3>
        <form action="{{ offer.get_general_busy_dates_url }}" class="calendar__room_form" method="GET">
            {% csrf_token %}
            <button type="submit" hidden></button>
        </form>
        <div id="evoCalendar" class="evoCalendar calendar calendar__room"></div>

        <p class="dates_notice">* при брониваронии нескольких дней подряд даты могут отличаться от предоставленных выше.</p>

    </div>
{% endblock %}

