{% extends 'offer/base_offer.html' %}

{% block info_dates %}
    <div class="info">
        <h3 class="info_title">Подробное описание</h3>
        <ul class="info_stats">
            <li class="stat_item">Спальных мест:
                <span class="highlighted">
                    {{ offer.beds }}
                </span>
            </li>
            <li class="stat_item">Количество комнат:
                <span class="highlighted">
                    {{ offer.rooms }}
                </span>
            </li>
            <li class="stat_item">Этажей:
                <span class="highlighted">
                    {{ offer.floors }}
                </span>
            </li>
            <li class="stat_item">Площадь:
                <span class="highlighted">
                    {{ offer.square }} м&#178;
                </span>
            </li>
        </ul>
    </div>
    <div class="dates">

        <h3 class="dates_title">Занятость номера</h3>
        <form action="{{ offer.get_general_busy_dates_url }}" class="calendar__room_form" method="GET">
            {% csrf_token %}
            <button type="submit" hidden=""></button>
        </form>
        <div id="evoCalendar" class="evoCalendar calendar calendar__room"></div>

        <p class="dates_notice">* при брониваронии нескольких дней подряд даты могут отличаться от предоставленных выше.</p>

    </div>
{% endblock %}

{% block book %}
    <form class="book ajax_redirect" method="post" action=".">

        {% csrf_token %}

        <div class="fields">

            <div class="errors_wrapper"></div>

            <div class="field_item">
                <p class="field_name">Время пребывания*:</p>
                <div class="field_content">
                    <div class="field_subcontent">
                        <label for="{{ book_form.date_start.id_for_label }}" class="field_subname">{{ book_form.date_start.label }}</label>
                        {{ book_form.date_start }}
                    </div>
                    <div class="field_subcontent">
                        <label for="{{ book_form.date_end.id_for_label }}" class="field_subname">{{ book_form.date_end.label }}</label>
                        {{ book_form.date_end }}
                    </div>
                </div>
            </div>

            {% include 'offer/book_general_fields.html' %}

        </div>

    </form>
{% endblock book %}

