{% extends 'core/admin_base.html' %}

{% block breadcrumbs %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb link-hover text-dark text-decoration-none fs-5">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" class="link-hover text-dark text-decoration-none">
                    Главная
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'admin_groups' %}" class="link-hover text-dark text-decoration-none">
                    Группы
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Просмотр группы</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}

{% block content %}

    <form class="shadow p-3 rounded-2 d-flex flex-column gap-4 position-relative">


        {% if perms.group.delete_group %}
            <i class="fa-regular fa-square-minus text-danger card_icon card_icon__delete" data-bs-toggle="modal" data-bs-target="#delete_modal"></i>
        {% endif %}
        {% if perms.group.change_group %}
            <i class="fa-regular fa-pen-to-square card_icon card_icon__edit" data-goto="{{ group.get_admin_edit_url }}"></i>
        {% endif %}

        <div class="text-center">
            <span class="fw-bold fs-5">id: </span>
            <span class="fw-bold fs-5">{{ group.id }}</span>
        </div>

        <div class="row">

            <div class="col-12 row">
                <p class="fw-bold col-lg-2  col-5">Наименование:</p>
                <p class="opacity-75 col-lg-10 col-7">{{ group.name }}</p>
                <hr>
            </div>

        </div>

    </form>


{% endblock content %}

{% block popups %}
    {% include 'core/delete_popup.html' %}
{% endblock popups %}