{% extends 'core/admin_base.html' %}

{% block breadcrumbs %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb link-hover text-dark text-decoration-none fs-5">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" class="link-hover text-dark text-decoration-none">
                    Главная
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'admin_timetables' %}" class="link-hover text-dark text-decoration-none">
                    Расписание
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Добавление расписания</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}

{% block content %}


    <form class="shadow p-3 rounded-2 d-flex flex-column gap-4 position-relative default_ajax_edit" method="POST" action=".">

        {% csrf_token %}

        <div>
            <ul id="main_info_errors">
            </ul>
        </div>

        <div class="row">

            <div class="col-8">
                <div class="input-group d-flex flex-nowrap">
                        <label for="{{ form.service_name.id_for_label }}" class="input-group-text w-7r" id="basic-addon1">{{ form.service_name.label }}</label>
                        <div class="d-flex flex-grow-1">
                            {{ form.service_name }}
                            {{ form.service_id }}
                            <button class="btn btn-primary w-5r rounded-0 rounded-end open_search_btn" data-form="#search_clients"  type="button" data-bs-toggle="modal" data-bs-target="#pick_service_modal">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>

                    </div>
            </div>

            <div class="col-4">
                <div class="input-group">
                    <label for="{{ form.date.id_for_label}}" class="input-group-text w-10r" id="basic-addon1">{{ form.date.label }}</label>
                    {{ form.date }}
                </div>
            </div>

            <div class="col-6">
                <div class="input-group">
                    <label for="{{ form.start.id_for_label}}" class="input-group-text w-10r" id="basic-addon1">{{ form.start.label }}</label>
                    {{ form.start }}
                </div>
            </div>

            <div class="col-6">
                <div class="input-group">
                    <label for="{{ form.end.id_for_label}}" class="input-group-text w-10r" id="basic-addon1">{{ form.end.label }}</label>
                    {{ form.end }}
                </div>
            </div>

            <div class="col-12 mt-4">
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-lg btn-c_yellow-700">Сохранить</button>
                    <button type="button" class="btn btn-lg btn-c_grey-100" data-goto="{% url 'admin_timetables' %}">Отмена</button>
                </div>
            </div>

        </div>

    </form>


{% endblock content %}