{% extends 'offer/base_admin_edit_offer.html' %}

{% block breadcrumbs %}
    {% with offer as service %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb link-hover text-dark text-decoration-none fs-5">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" class="link-hover text-dark text-decoration-none">
                    Главная
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'admin_services' %}" class="link-hover text-dark text-decoration-none">
                    Номера
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ service.get_admin_show_url }}" class="link-hover text-dark text-decoration-none">
                    Просмотр услуги
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Редактирование услуги</li>
        </ol>
    </nav>
    {% endwith %}
{% endblock breadcrumbs %}

{% block properties %}

    {% with form as form_service %}
        <div class="col-lg-6 col-12">
            <div class="input-group">
                <label class="input-group-text w-12r" for="{{ form_service.name.id_for_label }}">{{ form_service.name.label }}</label>
                {{ form_service.name }}
            </div>
        </div>

        <div class="col-md-6 col-12 mt-lg-0 mt-4">
            <div class="input-group flex-nowrap w-auto">
                <label class="input-group-text w-12r" for="{{ form_service.max_in_group.id_for_label }}">{{ form_service.max_in_group.label }}</label>
                {{ form_service.max_in_group }}
            </div>
        </div>

        <div class="col-md-6 col-12 mt-4">
            <div class="input-group flex-nowrap w-auto">
                <label class="input-group-text w-12r" for="{{ form_service.max_intersections.id_for_label }}">{{ form_service.max_intersections.label }}</label>
                {{ form_service.max_intersections }}
            </div>
        </div>

        <div class="col-md-6 col-12 mt-4">
            <div class="input-group flex-nowrap w-auto">
                <label class="input-group-text w-12r" for="{{ form_service.default_price.id_for_label }}">{{ form_service.default_price.label }}</label>
                {{ form_service.default_price }}
            </div>
        </div>

        <div class="col-md-6 col-12 mt-4">
            <div class="input-group flex-nowrap w-auto">
                <label class="input-group-text w-12r" for="{{ form_service.weekend_price.id_for_label }}">{{ form_service.weekend_price.label }}</label>
                {{ form_service.weekend_price }}
            </div>
        </div>

{#        <div class="col-md-6 col-12 mt-4">#}
{#            <div class="input-group flex-nowrap w-auto">#}
{#                <label for="manage_bonus" class="input-group-text w-10r" id="basic-addon1">Макс. бонусов (%)</label>#}
{#                <input id="manage_bonus" type="number" class="form-control " value="40">#}
{#            </div>#}
{#        </div>#}

        <div class="col-md-6 col-12 mt-4">
            <div class="input-group flex-nowrap w-auto">
                <label class="input-group-text w-12r" for="{{ form_service.prepayment_percent.id_for_label }}">{{ form_service.prepayment_percent.label }}</label>
                {{ form_service.prepayment_percent }}
            </div>
        </div>

{#        <div class="col-md-6 col-12 mt-4">#}
{#            <div class="input-group flex-nowrap w-auto">#}
{#                <label for="manage_prepayment_money" class="input-group-text w-10r" id="basic-addon1">Предоплата (&#8381;)</label>#}
{#                <input id="manage_prepayment_money" type="number" class="form-control " value="">#}
{#            </div>#}
{#        </div>#}

        <div class="col-md-6 col-12 mt-4">
            <div class="input-group flex-nowrap w-auto">
                <label class="input-group-text w-12r" for="{{ form_service.refund_percent.id_for_label }}">{{ form_service.refund_percent.label }}</label>
                {{ form_service.refund_percent }}
            </div>
        </div>

{#        <div class="col-md-6 col-12 mt-4">#}
{#            <div class="form-check">#}
{#                <label class="form-check-label" for="{{ form_service.dynamic_timetable.id_for_label }}">{{ form_service.dynamic_timetable.label }}</label>#}
{#                {{ form_service.dynamic_timetable }}#}
{#            </div>#}
{#        </div>#}

        <div class="col-md-6 col-12 mt-4">
            <div class="form-check">
                <label class="form-check-label" for="{{ form_service.is_hidden.id_for_label }}">{{ form_service.is_hidden.label }}</label>
                {{ form_service.is_hidden }}
            </div>
        </div>
    {% endwith %}

{% endblock properties %}

{% block additional_info %}
    <!-- timetable -->
    {% with offer as service %}
    <div class="shadow p-3 d-flex flex-column gap-4 mt-5">

        <div class="text-center">
            <span class="fw-bold fs-5">Расписание</span>
        </div>

        <div class="overflow-auto mt-4 rounded-2">
{#            <form action="{{ service.get_add_timetable_url }}" method="POST" id="add_same_room">#}
{#                {% csrf_token %}#}
{#                <button class="btn btn-c_grey-100 w-100 rounded-0 py-2 fw-bold">+ Добавить</button>#}
{#            </form>#}

                <div class="errors additional_errors"></div>

                <button class="btn btn-c_grey-100 w-100 rounded-0 py-2 fw-bold" data-set-called-by="#create_timetable_modal" data-popup-to-clean="#create_timetable_modal" type="button" data-bs-toggle="modal" data-bs-target="#create_timetable_modal">+ Добавить</button>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Начало</th>
                        <th scope="col">Конец</th>
                        <th scope="col" class="px-3 text-center" >Изменить</th>
                        <th scope="col" class="px-3 text-center" >Убрать</th>
                    </tr>
                    </thead>
                    <tbody class="additional_info_tbody" id="same_rooms_list_body">
                        {% for timetable in service.timetables.all %}
                            <tr>
                                <td scope="row">{{ timetable.start }}</td>
                                <td scope="row">{{ timetable.end }}</td>
                                <td class="p-0 position-relative w-10r">
                                    <form action="{{ timetable.get_info_url }}" method="POST" class="edit_additional_form" >
                                        {% csrf_token %}
                                        <button class="btn btn-primary w-100 rounded-0 h-100 position-absolute" data-set-called-by="#edit_timetable_modal" data-url="{{ timetable.get_edit_url }}" data-popup="#edit_timetable_modal" type="button" data-bs-toggle="modal" data-bs-target="#edit_timetable_modal" data-id="{{ timetable.pk }}">Изменить</button>
                                    </form>
                                </td>
                                <td class="p-0 position-relative w-10r">
                                    <form action="{{ timetable.get_delete_url }}" method="POST" class="delete_additional_form">
                                        {% csrf_token %}
                                        <button class="btn btn-danger w-100 rounded-0 h-100 position-absolute" type="button" data-id="{{ timetable.pk }}">Убрать</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

        </div>


    </div>
    {% endwith %}

    <!-- end timetable -->
{% endblock additional_info %}

{% block additional_popups %}
{#    {% include 'service/manage_timetable_popup.html' %}#}
    {% include 'service/create_timetable_popup.html' %}
    {% include 'service/edit_timetable_popup.html' %}
    {% include 'service/workers_popup.html' %}
{% endblock additional_popups %}