{% extends 'offer/base_offer.html' %}

{% block offer_header_meta %}
    <title>
        Crystal Lake | Забронировать услугу {{ offer.name }}, для компании из {{ offer.max_in_group }} человек
    </title>
    <meta name="description" content="Услуга {{ offer.name }}, отличный для компании из {{ offer.max_in_group }} человек, открытый воздух, приятная цена">
    <meta property="og:title" content=" Crystal Lake | Забронировать услугу {{ offer.name }}, для компании из {{ offer.max_in_group }} человек" />
    <meta property="og:description" content="Услуга {{ offer.name }}, отличный для компании из {{ offer.max_in_group }} человек, открытый воздух, приятная цена"/>
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ offer.main_photo.url }}" />
    <meta property="og:url" content="{{ offer.get_absolute_url }}" />
{% endblock offer_header_meta %}
{% block offer_json_ld %}
    "@type": "Product",
{% endblock offer_json_ld %}
{% block breadcrumbs_json_ld %}
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement":
        [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Главная",
                "item": "{% url 'index' %}"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Услуги",
                "item": "{% url 'services' %}"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "{{ offer.name }}",
                "item": "{{ offer.get_absolute_url }}"
            }
        ]
    }
{% endblock breadcrumbs_json_ld %}

{% block breadcrumbs %}
    <a href="{% url 'index' %}" class="breadcrumbs_item">Главная</a>
    <span>&#10148;</span>
    <a href="{% url 'services' %}" class="breadcrumbs_item">Услуги</a>
    <span>&#10148;</span>
    <a href="#" class="breadcrumbs_item">{{ offer.name }}</a>
{% endblock breadcrumbs %}

{% block info_dates %}
    {% with offer as service %}
    <div class="info">
        <h3 class="info_title">Подробное описание</h3>
        <ul class="info_stats">
            <li class="stat_item">Максимум человек в группе:
                <span class="highlighted">
                    {{ service.max_in_group }}
                </span>
            </li>
        </ul>
    </div>
    {% endwith %}
    <div class="dates">

        <h3 class="dates_title">Доступное время</h3>
        <form action="{{ offer.get_free_time_url }}" class="calendar__service_form" method="GET">
            {% csrf_token %}
            <button type="submit" hidden class="d-none"></button>
        </form>
        <div class="evoCalendar calendar calendar__service"></div>

    </div>
{% endblock %}

