{% extends 'offer/base_offer.html' %}

{% block breadcrumbs %}
    <a href="{% url 'index' %}" class="breadcrumbs_item">Главная</a>
    <span>&#10148;</span>
    <a href="{% url 'services' %}" class="breadcrumbs_item">Услуги</a>
    <span>&#10148;</span>
    <a href="#" class="breadcrumbs_item">{{ offer.name }}</a>
{% endblock breadcrumbs %}

{% block info_dates %}
    {% with offer as service %}
    <div class="info">
        <h3 class="info_title">Подробное описание</h3>
        <ul class="info_stats">
            <li class="stat_item">Максимум человек в группе:
                <span class="highlighted">
                    {{ service.max_in_group }}
                </span>
            </li>
        </ul>
    </div>
    {% endwith %}
    <div class="dates">

        <h3 class="dates_title">Доступное время</h3>
        <form action="{{ offer.get_free_time_url }}" class="calendar__service_form" method="GET">
            {% csrf_token %}
            <button type="submit" class="d-none"></button>
        </form>
        <div class="evoCalendar calendar calendar__service"></div>

    </div>
{% endblock %}

{% block book %}
    <form class="book ajax_redirect" method="post" action=".">

        {% csrf_token %}

        <div class="fields">

            <div class="errors_wrapper"></div>

            <div class="field_item">
                <label for="{{ book_form.date.id_for_label }}" class="field_name">{{ book_form.date.label }}</label>
                <div class="field_content">
                    {{ book_form.date }}
                </div>
            </div>

            <div class="field_item">
                <p class="field_name">Время*:</p>
                <div class="field_content">
                    <div class="field_subcontent">
                        <label for="{{ book_form.time_start.id_for_label }}" class="field_subname">{{ book_form.time_start.label }}</label>
                        {{ book_form.time_start }}
                    </div>
                    <div class="field_subcontent">
                        <label for="{{ book_form.time_end.id_for_label }}" class="field_subname">{{ book_form.time_end.label }}</label>
                        {{ book_form.time_end }}
                    </div>
                </div>
            </div>

            <div class="field_item">
                <label for="{{ book_form.quantity.id_for_label }}" class="field_name">{{ book_form.quantity.label }}</label>
                <div class="field_content">
                    {{ book_form.quantity }}
                </div>
            </div>

            {% include 'offer/book_general_fields.html' %}

        </div>

    </form>
{% endblock book %}

