{% extends 'offer/base_offer.html' %}

{% block breadcrumbs %}
    <a href="{% url 'index' %}" class="breadcrumbs_item">Главная</a>
    <span>&#10148;</span>
    <a href="{% url 'services' %}" class="breadcrumbs_item">Услуги</a>
    <span>&#10148;</span>
    <a href="#" class="breadcrumbs_item">{{ offer.name }}</a>
{% endblock breadcrumbs %}

{% block info_dates %}
    {% with offer as service %}
    <div class="info">
        <h3 class="info_title">Подробное описание</h3>
        <ul class="info_stats">
            <li class="stat_item">Максимум человек в группе:
                <span class="highlighted">
                    {{ service.max_in_group }}
                </span>
            </li>
        </ul>
    </div>
    {% endwith %}
    <div class="dates">

        <h3 class="dates_title">Доступное время</h3>
        <form action="{{ offer.get_free_time_url }}" class="calendar__service_form" method="GET">
            {% csrf_token %}
            <button type="submit" hidden class="d-none"></button>
        </form>
        <div class="evoCalendar calendar calendar__service"></div>

    </div>
{% endblock %}

