{% extends 'core/admin_base.html' %}

{% block breadcrumbs %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb link-hover text-dark text-decoration-none fs-5">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" class="link-hover text-dark text-decoration-none">
                    Главная
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'admin_rooms' %}" class="link-hover text-dark text-decoration-none">
                    Номера
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ room.get_admin_show_url }}" class="link-hover text-dark text-decoration-none">
                    Просмотр номера
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Редактирование номера</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}

{% block content %}
<form class="shadow p-3 rounded-2 d-flex flex-column gap-4 position-relative main_info_container" id="edit_main_info_form" action="{{ room.get_admin_edit_url }}" method="POST" enctype="multipart/form-data">

    {% csrf_token %}


    <div>
        <ul id="errors">
        </ul>
    </div>



    <div class="text-center">
        <span class="fw-bold fs-5">id: </span>
        <span class="fw-bold fs-5">{{ room.id }}</span>
    </div>

    <div class="row">

        <div class="col-lg-6 col-12">
            <div class="input-group">
                <label class="input-group-text w-10r" for="{{ form_room.name.id_for_label }}">{{ form_room.name.label }}</label>
                {{ form_room.name }}
            </div>
        </div>

        <div class="col-md-6 col-12 mt-lg-0 mt-4">
            <div class="input-group flex-nowrap w-auto">
                <label class="input-group-text w-10r" for="{{ form_room.beds.id_for_label }}">{{ form_room.beds.label }}</label>
                {{ form_room.beds }}
            </div>
        </div>

        <div class="col-md-6 col-12 mt-4">
            <div class="input-group flex-nowrap w-auto">
                <label class="input-group-text w-10r" for="{{ form_room.default_price.id_for_label }}">{{ form_room.default_price.label }}</label>
                {{ form_room.default_price }}
            </div>
        </div>

        <div class="col-md-6 col-12 mt-4">
            <div class="input-group flex-nowrap w-auto">
                <label class="input-group-text w-10r" for="{{ form_room.weekend_price.id_for_label }}">{{ form_room.weekend_price.label }}</label>
                {{ form_room.weekend_price }}
            </div>
        </div>

        <div class="col-md-6 col-12 mt-4">
            <div class="input-group flex-nowrap w-auto">
                <label class="input-group-text w-10r" for="{{ form_room.rooms.id_for_label }}">{{ form_room.rooms.label }}</label>
                {{ form_room.rooms }}
            </div>
        </div>

        <div class="col-md-6 col-12 mt-4">
            <div class="input-group flex-nowrap w-auto">
                <label class="input-group-text w-10r" for="{{ form_room.square.id_for_label }}">{{ form_room.square.label }}</label>
                {{ form_room.square }}
            </div>
        </div>

        <div class="col-md-6 col-12 mt-4">
            <div class="input-group flex-nowrap w-auto">
                <label class="input-group-text w-10r" for="{{ form_room.floors.id_for_label }}">{{ form_room.floors.label }}</label>
                {{ form_room.floors }}
            </div>
        </div>

{#        <div class="col-md-6 col-12 mt-4">#}
{#            <div class="input-group flex-nowrap w-auto">#}
{#                <label for="manage_bonus" class="input-group-text w-10r" id="basic-addon1">Макс. бонусов (%)</label>#}
{#                <input id="manage_bonus" type="number" class="form-control " value="40">#}
{#            </div>#}
{#        </div>#}

        <div class="col-md-6 col-12 mt-4">
            <div class="input-group flex-nowrap w-auto">
                <label class="input-group-text w-10r" for="{{ form_room.prepayment_percent.id_for_label }}">{{ form_room.prepayment_percent.label }}</label>
                {{ form_room.prepayment_percent }}
            </div>
        </div>

{#        <div class="col-md-6 col-12 mt-4">#}
{#            <div class="input-group flex-nowrap w-auto">#}
{#                <label for="manage_prepayment_money" class="input-group-text w-10r" id="basic-addon1">Предоплата (&#8381;)</label>#}
{#                <input id="manage_prepayment_money" type="number" class="form-control " value="">#}
{#            </div>#}
{#        </div>#}

        <div class="col-md-6 col-12 mt-4">
            <div class="input-group flex-nowrap w-auto">
                <label class="input-group-text w-10r" for="{{ form_room.refund_percent.id_for_label }}">{{ form_room.refund_percent.label }}</label>
                {{ form_room.refund_percent }}
            </div>
        </div>

        <div class="col-md-6 col-12 mt-4">
            <div class="form-check">
                <label class="form-check-label" for="{{ form_room.is_hidden.id_for_label }}">{{ form_room.is_hidden.label }}</label>
                {{ form_room.is_hidden }}
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-6 col-12 ">

            <div class="col-12 d-flex flex-column h-100">
                <label class="input-group-text rounded-top rounded-0" for="{{ form_room.description.id_for_label }}">{{ form_room.description.label }}</label>
                {{ form_room.description }}
            </div>

{#            <div class="col-12">#}
{#                <div class="d-flex flex-column">#}
{#                    <span class="input-group-text rounded-top rounded-0 mt-3">Теги:</span>#}
{#                    <div class="border-1 border rounded-bottom border-top-0 flex-grow-1 p-2">#}
{##}
{#                        <button class="btn btn-c_grey-100 py-2 fw-bold" type="button" data-bs-toggle="modal" data-bs-target="#add_tag_modal">+ Добавить</button>#}
{##}
{#                            <div class="d-flex gap-4 flex-wrap mt-3">#}
{#                                {% for tag in room.tags.all %}#}
{#                                    <div class="d-flex text-bg-c_blue_100 fs-6 rounded overflow-hidden">#}
{#                                        <span class="py-1 px-3">{{ tag.name }}</span>#}
{#                                        <button class="btn btn-danger rounded-0">#}
{#                                            <i class="fa-solid fa-xmark"></i>#}
{#                                        </button>#}
{#                                    </div>#}
{#                                {% endfor %}#}
{#                            </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

        </div>
        <div class="col-lg-6 col-12 mt-lg-0 mt-4">
            <span class="input-group-text rounded-top rounded-0">Главное фото:</span>
            <div class="img_wrapper">
                <img src="{{ room.main_photo.url }}" alt="Главное фото" class="img-fluid w-100 img">

                <button class="btn btn-primary upload_img upload_img_button" type="button" >
                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                    Загрузить фотографию
                </button>

                <button class="btn open_img btn-dark" type="button" data-bs-toggle="modal" data-bs-target="#show_img_modal">
                    <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
                </button>

                {{ form_room.main_photo }}

            </div>
        </div>

    </div>

    <!-- accordion images -->

    <div class="accordion" id="images-accord">
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-1">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#images" aria-expanded="true" aria-controls="images">
              Дополнительные фотографии
            </button>
          </h2>
          <div id="images" class="accordion-collapse collapse" aria-labelledby="heading-1" data-bs-parent="#images-accord">
            <div class="accordion-body row" id="accordion_body_images">


                {{ formset.management_form }}

                {% for photo, form in photo_form %}

                    <div class="col-lg-4 col-sm-6 col-12 mb-4" data-order="{{ photo.order }}" data-active>
                        <div class="w-100">
                            <div class="img_wrapper">

                                <img src="{{ photo.path.url }}" alt="Доп. фото" class="img-fluid w-100 img rounded">

                                <button class="btn open_img btn-dark" type="button" data-bs-toggle="modal" data-bs-target="#show_img_modal">
                                    <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
                                </button>

                                <button class="btn btn-primary update_img w-10r upload_img_button" type="button">
                                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                    Обновить
                                </button>

                                <button class="btn btn-danger delete_img w-10r" type="button">
                                    <i class="fa-solid fa-xmark"></i>
                                    Удалить
                                </button>

                                {% for field in form %}
                                    {% if field.name == 'DELETE' %}
                                        {{ field.as_hidden  }}
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>

                        <div class="mt-2 text-center">
                            <i class="fa-solid fa-arrow-left fs-2 move_prev" role="button"></i>
                            <i class="fa-solid fa-arrow-right fs-2 ms-5 move_next" role="button"></i>
                        </div>

                    </div>

                {% endfor %}

                <div class="col-lg-4 col-sm-6 col-12 mb-4 d-none" data-empty-container>
                    <div class="w-100">
                        <div class="img_wrapper">

                            <img src="" alt="Доп. фото" class="img-fluid w-100 img rounded">

                            <button class="btn open_img btn-dark" type="button" data-bs-toggle="modal" data-bs-target="#show_img_modal">
                                <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
                            </button>

                            <button class="btn btn-primary update_img w-10r upload_img_button" type="button">
                                <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                Обновить
                            </button>

                            <button class="btn btn-danger delete_img w-10r" type="button">
                                <i class="fa-solid fa-xmark"></i>
                                Удалить
                            </button>

{#                            {% for field in formset.empty_form %}#}
{#                                {% if field.name == 'DELETE' %}#}
{#                                    {{ field.as_hidden  }}#}
{#                                {% else %}#}
{#                                    {{ field }}#}
{#                                {% endif %}#}
{#                            {% endfor %}#}

                            {% for field in formset.empty_form %}
                                {% if not field.name == 'DELETE' %}
                                    {{ field }}
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>

                    <div class="mt-2 text-center">
                        <i class="fa-solid fa-arrow-left fs-2 move_prev" role="button"></i>
                        <i class="fa-solid fa-arrow-right fs-2 ms-5 move_next" role="button"></i>
                    </div>

                </div>

                <div class="col-lg-4 col-sm-6 col-12 my-auto">
                    <div class="w-100">
                        <button class="btn btn-c_yellow-700 btn-lg w-100 mx-auto upload_new_img_button" type="button">Загрузить еще</button>
                        <input type="file" class="upload_new_img_input d-none" accept="image/png, image/jpeg"/>
                    </div>
                </div>


            </div>
          </div>
        </div>
    </div>

    <!-- accordion imges end -->

    <div class="col-12 mt-4">
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-lg btn-c_yellow-700" id="save_main_btn">Сохранить</button>
            <button type="button" class="btn btn-lg btn-c_grey-100"  data-goto="{{ room.get_admin_show_url }}">Назад</button>
        </div>
    </div>

</form>

<!-- tags -->

<div class="shadow p-3 rounded-2 d-flex flex-column gap-4 mt-5">

    <div class="text-center">
        <span class="fw-bold fs-5">Теги</span>
    </div>

    <form class="overflow-auto mt-4" method="post" action="{% url 'tag_from_offer' offer_id=room.pk %}" id="offer_tags">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">id тега</th>
                <th scope="col">Наименование</th>
                <th scope="col" class="px-3 text-center" type="button">Убрать</th>
            </tr>
            </thead>
            <tbody id="tags_list_body">
                <tr>
                    <td class="p-0" colspan="3">
                        <button id="open_tag_modal" class="btn btn-c_grey-100 w-100 rounded-0 py-2 fw-bold" type="button" data-bs-toggle="modal" data-bs-target="#add_tag_modal">
                            + Добавить
                        </button>
                    </td>
                </tr>

                    {% for tag in room.tags.all %}
                        <tr>
                            <th scope="row">{{ tag.id }}</th>
                            <td>
                                <a href="{{ tag.get_admin_show_url }}" class="link-hover d-block">{{ tag.name }}</a>
                            </td>
                            <td class="p-0 position-relative w-10r">
                                <button class="btn btn-danger w-100 rounded-0 h-100 position-absolute" type="button" data-id="{{ tag.pk }}">Убрать</button>
                            </td>
                        </tr>
                    {% endfor %}

            </tbody>
        </table>
    </form>


</div>

<!-- end tags -->

{% endblock content %}

{% block popups %}

    <div class="modal fade" id="show_img_modal" tabindex="-1" aria-labelledby="show_img_label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="show_img_label">Просмотр изображения</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="img_modal" class="w-100" alt="Просмотр изображения">
            </div>
          </div>
        </div>
    </div>

     <!-- add tag modal -->
    <div class="modal fade" id="add_tag_modal" tabindex="-1" aria-labelledby="add_tag_label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="add_tag_label">Добавление тега</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <form class="shadow p-3 rounded-2 position-relative" id="search_tag" method="POST" action="{{ room.get_tags_url }}">

                    {% csrf_token %}

                    <i class="fa-regular fa-trash-can text-danger card_icon card_icon__delete" id="clean_tags_btn"></i>

                    <div class="row align-items-start justify-content-between py-3">

                        <div class="col-12 row justify-content-between mx-auto p-0">

                            <div class="col-md-3 col-6">
                                <div>
                                    <label for="{{ form_tags.id.id_for_label }}" class="form-label">{{ form_tags.id.label }}</label>
                                    {{ form_tags.id }}
                                </div>
                            </div>

                            <div class="col-md-8 col-12 mt-md-0 mt-3">
                                <label for="{{ form_tags.name.id_for_label }}" class="form-label">{{ form_tags.name.label }}</label>
                                {{ form_tags.name }}
                            </div>

                        </div>


                        <div class="col-12 mt-3">
                            <button class="btn btn-c_yellow-700 w-100" type="button" id="find_tags_btn">Найти</button>
                        </div>

                    </div>

                </form>

                <form class="shadow mt-4 rounded-2 overflow-auto" id="select_tag" action="{% url 'tag_to_offer' offer_id=room.pk %}">

                    {% csrf_token %}

                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                                <tr>
                                    <th scope="col" class="bg-c_yellow-700 text-nowrap col-hover" role="button" data-sortby="id" data-sortby-active>
                                        id <i class="fa-solid fa-arrow-down-short-wide text-c_yellow-700"></i>
                                    </th>
                                    <th scope="col" class="text-nowrap col-hover" role="button" data-sortby="name">
                                        Наименование <i class="fa-solid fa-arrow-down-short-wide text-c_yellow-700"></i>
                                    </th>
                                    <th scope="col" class="text-nowrap">
                                        Выбрать
                                    </th>
                                </tr>
                        </thead>
                        <tbody id="tags_add_body">


                        </tbody>
                    </table>
                </form>

                <nav class="d-flex justify-content-center mt-4">
                    <ul class="pagination" id="tags_pagination"></ul>
                </nav>


            </div>
          </div>
        </div>
    </div>
    <!-- add tag modal end -->


{% endblock popups %}