{% extends 'core/base.html' %}

{% block header_meta %}
    {% block offer_header_meta %}
    {% endblock offer_header_meta %}
    <script type="application/ld+json">
    [
    {
        "@context": "https://schema.org",
        {% block offer_json_ld %}
        {% endblock offer_json_ld %}
        "name": "{{ offer.name }}",
        "image": "{{ offer.main_photo }}",
        "description": "{{ offer.description }}",
        "offers":
            {
                "@type": "Offer",
                "price": {{ offer.default_price.to_integral_value }},
                "priceCurrency": "RUB"
            }
        {% if familiar %}
        ,
        "isSimilarTo":
            [
                {% for familiar_offer in familiar|slice:":-1" %}
                {
                    "@type": "Product",
                    "name": "{{ familiar_offer.name }}",
                    "image": "{{ familiar_offer.main_photo }}",
                    "description": "{{ familiar_offer.description }}",
                    "url": "{{ familiar_offer.get_absolute_url }}",
                    "offers":
                        {
                            "@type": "Offer",
                            "price": {{ familiar_offer.default_price.to_integral_value }},
                            "priceCurrency": "RUB"
                        }
                },
                {% endfor %}
                {% with familiar|last as last %}
                {
                    "@type": "Product",
                    "name": "{{ last.name }}",
                    "image": "{{ last.main_photo }}",
                    "description": "{{ last.description }}",
                    "url": "{{ last.get_absolute_url }}",
                    "offers":
                        {
                            "@type": "Offer",
                            "price": {{ last.default_price.to_integral_value }},
                            "priceCurrency": "RUB"
                        }
                }
                {% endwith %}
            ]
    {% endif %}
    },
    {% block breadcrumbs_json_ld %}
    {% endblock %}
    ]
    </script>
{% endblock header_meta %}

{% block content %}
<main>

<section class="section">
    <div class="content_container">
        <h1 class="section_title">{{ offer.name }}</h1>

            <div class="breadcrumbs">
                {% block breadcrumbs %}
                {% endblock breadcrumbs %}
            </div>

        <div class="offer">
            <div class="photos_description">

                <div class="photos">
                    <div class="always-slider-required"></div>

                    <img data-number="{{ 0 }}" src="{{ offer.main_photo.url }}" alt="{{ offer.name }} фото" class="photos_img slider_content slider_content__big slider_content__active">

                    {% for photo in offer.photos.all %}
                        <img data-number="{{ photo.order }}" src="{{ photo.path.url }}" alt="{{ offer.name }} фото" class="photos_img slider_content slider_content__big">
                    {% endfor %}

                    <div class="slider">
                    </div>
                </div>

                <div class="description">
                    <div class="description_main">
                        <h3 class="description_title">{{ offer.name }}</h3>
                        <p class="description_text">
                            {{ offer.description|linebreaks }}
                        </p>
                    </div>
                    <div class="description_extra">
                        <div class="description_info">
                            <p class="description_info_item">
{#                                {% if offer.price_type == 'hour' %}#}
                                Цена за {{ offer.get_price_type_display }}:
                                <span class="highlighted">
                                    {{ offer.default_price.to_integral_value }}&#8381;
                                </span>
                            </p>
                        </div>
                        <a href="#offer_book" class="description_button_wrapper">
                            <button class="button__description">Забронировать</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="info_dates">

                {% block info_dates %}
                {% endblock info_dates %}

            </div>

        </div>


    </div>
</section>

</main>


<section class="section">
<div class="content_container">

    <h2 class="section_title" id="offer_book">Забронировать</h2>


    <form class="book ajax_redirect" method="post" action=".">

        {% csrf_token %}

        <div class="fields">

            <div class="errors_wrapper"></div>

            {% for field in book_form %}
                <div class="field_item">
                     <label class="field_name" for="{{ field.auto_id }}">{{ field.label }}</label>
                    <div class="field_content">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}

            <button type="submit" class="button__book">В корзину</button>

        </div>

    </form>

</div>
</section>

{% if familiar %}
<section class="section">
<div class="content_container">

    <h2 class="section_title">Похожие предложения</h2>

    <div class="recomendations">

        <div class="tablet-slider-required"></div>

        <article class="card_short recomendations_item slider_content slider_content__active" data-goto="{{ familiar.0.get_absolute_url }}">
            <div class="card_inner">
                <img src="{{ familiar.0.main_photo.url }}" alt="{{ familiar.0.name }}" class="card_img">
                <div class="card_info">
                    <p class="card_info_title">{{ familiar.0.name }}</p>
                    <p class="card_info_text">
                        Начиная от:
                        <span class="highlighted">
                            {{ familiar.0.default_price }}&#8381;
                        </span>
                    </p>
                    <button class="card_button card_button__long" data-goto="{{ familiar.0.get_absolute_url }}#offer_book">Забронировать</button>
                </div>
            </div>
        </article>

        {{ offer.get_often_together }}

        {% for familiar_offer in familiar|slice:"1:" %}
            <article class="card_short recomendations_item slider_content" data-goto="{{ familiar_offer.get_absolute_url }}">
                <div class="card_inner">
                    <img src="{{ familiar_offer.main_photo.url }}" alt="{{ familiar_offer.name }}" class="card_img">
                    <div class="card_info">
                        <p class="card_info_title">{{ familiar_offer.name }}</p>
                        <p class="card_info_text">
                            Начиная от:
                            <span class="highlighted">
                                {{ familiar_offer.default_price }}&#8381;
                            </span>
                        </p>
                        <button class="card_button card_button__long" data-goto="{{ familiar_offer.get_absolute_url }}#offer_book">Забронировать</button>
                    </div>
                </div>
            </article>
        {% endfor %}

        <div class="slider slider__hidden">
        </div>

    </div>

</div>
</section>
{% endif %}




{% endblock content %}

{% block popups %}
    {% include 'client_profile/login_popup.html' %}
    <div class="modal_wrapper modal_wrapper__light " id="images_modal">
        <div class="images_popup" id="images_popup">

            <div class="slick_slider">

                <div class="slick_slider_item">
                    <img src="{{ offer.main_photo.url }}">
                </div>
                {% for photo in offer.photos.all %}
                    <div class="slick_slider_item">
                        <img src="{{ photo.path.url }}">
                    </div>
                {% endfor %}

            </div>

            <i class="fa-solid fa-xmark images_close" id="images_close"></i>

        </div>
    </div>
{% endblock popups %}