{% extends 'offer/images_accordion_create.html' %}

{% block images_edit %}
    {% for photo, form in photo_form %}

        <div class="col-lg-4 col-sm-6 col-12 mb-4" data-order="{{ photo.order }}" data-active>
            <div class="w-100">
                <div class="img_wrapper">

                    <img src="{{ photo.path.url }}" alt="Доп. фото" class="img-fluid w-100 img rounded">

                    <button class="btn open_img btn-dark" type="button" data-bs-toggle="modal" data-bs-target="#show_img_modal">
                        <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
                    </button>

                    <button class="btn btn-primary update_img w-10r upload_img_button" type="button">
                        <i class="fa-solid fa-arrow-up-from-bracket"></i>
                        Обновить
                    </button>

                    <button class="btn btn-danger delete_img w-10r" type="button">
                        <i class="fa-solid fa-xmark"></i>
                        Удалить
                    </button>

                    {% for field in form %}
                        {% if field.name == 'DELETE' %}
                            {{ field.as_hidden  }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}

                </div>
            </div>

            <div class="mt-2 text-center">
                <i class="fa-solid fa-arrow-left fs-2 move_prev" role="button"></i>
                <i class="fa-solid fa-arrow-right fs-2 ms-5 move_next" role="button"></i>
            </div>

        </div>

    {% endfor %}
{% endblock images_edit %}
