@use '../utils/vars' as vars;
@use '../utils/mixins' as mixins;


/* ABOUT US */

.about_us{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    font-size: 1rem;
    flex-wrap: wrap;

    @include mixins.device(tablet){
        max-width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        gap: 1em;
    }

    @include mixins.device(mobile){
        margin-top: 10em;
        max-width: 80%;
        border-radius: 5px;
        gap: 0;
    }

    .about_us_img{
        display: block;
        border-radius: vars.$radius;
        width: 100%;
        max-width: 50%;
        box-shadow: vars.$shadow;

        @include mixins.device(mobile){
            max-width: 100%;
        }
    }

    .about_us_info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 40%;

        @include mixins.device(tablet){
            gap: 2em;
        }

        @include mixins.device(mobile){
            padding: 1em 0;
            max-width: 100%;
        }

        .about_us_text{
            line-height: 1.4;
        }
    }

}


// WHY US 

.why_us_wrapper{
    background: url("../../img/main/why_is.webp") no-repeat center;
    background-size: cover;
}

.why_us{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.8);
    width: 35%;
    gap: 3em;
    font-size: 1rem;
    padding: 2em 2em;
    box-shadow: vars.$shadow;
    margin-left: auto;
    margin-right: 0;

    @include mixins.device(tablet){
        margin: 0 auto;
        width: 50%;
        padding: 2em 1em;
    }

    @include mixins.device(mobile){
        margin: 0 auto;
        width: 80%;
    }

    .why_us_info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1.5em;

        .why_us_item{
            display: flex;
            gap: 1.5em;
            line-height: 1.2;
            align-items: center;

            i{
                font-size: 1.3em;
                background-color: #D5DBC4;
                border-radius: 50%;
                padding: 0.5em;
                color: vars.$pink_color;
                border: 1px solid vars.$pink_color;
            }

            .why_us_text{
                color: #000;
                font-size: 1em;
            }
        }
    }
}