{% extends 'core/admin_base.html' %}

{% block breadcrumbs %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb link-hover text-dark text-decoration-none fs-5">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" class="link-hover text-dark text-decoration-none">
                    Главная
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Заказы</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}

{% block content %}


    <form class="shadow p-3 rounded-2 position-relative find_form" action="{% url 'admin_orders' %}" method="GET">

        <i class="fa-regular fa-trash-can text-danger card_icon card_icon__delete clean_btn"></i>

       <div class="row align-items-start justify-content-between">

            <div class="col-12 row mx-auto p-0">

                <div class="col-12 row mx-auto p-0">

                    <div class="col-lg-2 col-md-3 col-6">
                        <label for="{{ form.id.id_for_label }}" class="form-label text-nowrap">{{ form.id.label }}:</label>
                        {{ form.id }}
                    </div>

                    <div class="col-lg-2 col-md-3 col-6">
                        <label for="{{ form.status.id_for_label }}" class="form-label">{{ form.status.label }}</label>
                        {{ form.status }}
                    </div>

                    <div class="col-lg-8 col-md-6 col-12 mt-md-0 mt-3">
                        <label for="{{ form.client_name.id_for_label }}" class="form-label">{{ form.client_name.label }}</label>
                        <div class="d-flex">
                            {{ form.client_name }}
                            {{ form.client_id }}
                            <button class="btn btn-primary w-5r rounded-0 rounded-end open_search_btn" data-form="#search_clients"  type="button" data-bs-toggle="modal" data-bs-target="#pick_client_modal">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </div>

                    {{ form.sort_by }}
                    {{ form.page }}

                    <div class="col-12 mt-3">
                        <button class="btn btn-c_yellow-700 w-100 ">Найти</button>
                    </div>

                </div>

            </div>
       </div>

    </form>

    <div class="shadow mt-4 rounded-2 overflow-auto">
     <button class="btn btn-c_grey-100 w-100 rounded-0 py-2 fw-bold" type="button" data-goto="{% url 'admin_create_order' %}">+ Создать</button>
        <table class="table table-striped table-hover table-bordered">
            <thead data-find-form=".find_form">
            <tr>
                <th scope="col" class="bg-c_yellow-700 text-nowrap col-hover" role="button" data-sortby="id" data-sortby-active>
                    id <i class="fa-solid fa-arrow-down-short-wide text-c_yellow-700"></i>
                </th>
                <th scope="col" class="text-nowrap">
                    Наименование
                </th>
                <th scope="col" class="text-nowrap col-hover" role="button"  data-sortby="client__name">
                    Клиент <i class="fa-solid fa-arrow-down-short-wide text-c_yellow-700"></i>
                </th>
                <th scope="col" class="text-nowrap">
                    Статус заказ
                </th>
                <th scope="col" class="text-nowrap">
                    Статус оплаты
                </th>
                <th scope="col" class="text-nowrap">
                    Цена
                </th>
            </tr>
            </thead>
            <tbody>

                {% for order in page_obj %}

                    <tr>
                        <th scope="row">{{ order.pk }}</th>
                        <td>
                            <a href="{{ order.get_admin_show_url }}" class="link-hover d-block">{{ order.name }}</a>
                        </td>
                        <td>
                            <a href="{{ order.client.get_admin_show_url }}" class="link-hover d-block">{{ order.client.full_name }}</a>
                        </td>
                        <td>{{ order.status }}</td>
                        <td>{{ order.payment_status }}</td>
                        <td>{{ order.price }}&#8381;</td>
                    </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>

    {% include 'core/pagination.html' %}

{% endblock content %}
{% block popups %}
    {% include 'order/clients_popup.html' %}
{% endblock popups %}