{% extends 'core/admin_base.html' %}
{% load offer_tags %}

{% block breadcrumbs %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb link-hover text-dark text-decoration-none fs-5">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" class="link-hover text-dark text-decoration-none">
                    Главная
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'admin_orders' %}" class="link-hover text-dark text-decoration-none">
                    Заказы
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ order.get_admin_edit_url }}" class="link-hover text-dark text-decoration-none">
                    Просмотр заказа
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Редактирование заказа</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}

{% block content %}


    <form class="shadow p-3 rounded-2 d-flex flex-column gap-4 position-relative default_ajax_edit" method="POST" action=".">

        {% csrf_token %}

         <div>
            <ul id="main_info_errors">
            </ul>
        </div>

        <div class="text-center">
            <span class="fw-bold fs-5">id: </span>
            <span class="fw-bold fs-5">{{ order.id }}</span>
        </div>

        <div class="row">

            <div class="col-lg-6 col-12">
                <div class="input-group flex-nowrap w-auto  opacity-75">
                    <span class="input-group-text w-10r" id="basic-addon1">Клиент</span>
                    <span class="form-control">
                        <a href="{{ order.client.get_admin_show_url }}" class="link-hover">{{ order.client.full_name }}</a>
                    </span>
                </div>
            </div>

            <div class="col-lg-6 col-12 mt-lg-0 mt-4">
                <div class="input-group flex-nowrap w-auto  opacity-75">
                    <span class="input-group-text w-10r" id="basic-addon1">Наименование</span>
                    <span class="form-control">{{ order.name }}</span>
                </div>
            </div>

            <div class="col-lg-6 col-12 mt-4">
                <div class="input-group flex-nowrap w-auto opacity-75">
                    <label for="manage_paid" class="input-group-text w-10r" id="basic-addon1">Внесено средств</label>
                    <span class="form-control">{{ order.paid }}</span>
                </div>
            </div>

            <div class="col-lg-6 col-12 mt-4">
                <div class="input-group flex-nowrap w-auto opacity-75">
                    <label for="manage_paid" class="input-group-text w-10r" id="basic-addon1">Осталось оплатить</label>
                    <span class="form-control">{{ order.left_to_pay }}</span>
                </div>
            </div>

            <div class="col-lg-6 col-12 mt-4">
                <div class="input-group flex-nowrap w-auto  opacity-75">
                    <span class="input-group-text w-10r" id="basic-addon1 ">Стоимость</span>
                    <span class="form-control ">{{ order.price }}</span>
                </div>
            </div>

            <div class="col-lg-6 col-12 mt-4">
                <div class="input-group flex-nowrap w-auto  opacity-75">
                    <span class="input-group-text w-10r" id="basic-addon1">Предоплата</span>
                    <span class="form-control ">{{ order.prepayment }}</span>
                </div>
            </div>

            <div class="col-lg-6 col-12 mt-4">
                <div class="input-group flex-nowrap w-auto  opacity-75">
                    <span class="input-group-text w-10r" id="basic-addon1">К возврату</span>
                    <span class="form-control ">{{ order.left_to_refund }}</span>
                </div>
            </div>

            <div class="col-lg-4 col-12 mt-4 btn-group" role="group">
                {{ form.prepayment_paid }}
                <label class="btn btn-outline-primary" for="{{ form.prepayment_paid.id_for_label }}">{{ form.prepayment_paid.label }}</label>
            </div>

            <div class="col-lg-4 col-12 mt-4 btn-group" role="group">
                {{ form.paid }}
                <label class="btn btn-outline-primary" for="{{ form.paid.id_for_label }}">{{ form.paid.label }}</label>
            </div>

            <div class="col-lg-4 col-12 mt-4 btn-group" role="group">
                {{ form.refund_made }}
                <label class="btn btn-outline-primary" for="{{ form.refund_made.id_for_label }}">{{ form.refund_made.label }}</label>
            </div>

            <div class="col-12 mt-4">
                <div class="input-group flex-nowrap w-100">
                    <span class="input-group-text w-10r">Статус заказа</span>
                    <div class="btn-group flex-grow-1" role="group" aria-label="Basic radio toggle button group">

                        {% for radio in form.status %}
                            {{ radio.tag }}

                            {# мб убрать нафиг, если будут проблемы #}
                            {% if order.date_full_prepayment or radio.choice_label != 'завершен' %}
                                <label class="btn btn-outline-primary rounded-0" for="{{ radio.id_for_label }}">
                                    {{ radio.choice_label }}
                                </label>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>

            </div>


            <div class="col-12 mt-4">
                <label class="input-group-text rounded-top rounded-0" for="{{ form.comment.id_for_label }}">{{ form.comment.label }}</label>
                {{ form.comment }}
            </div>

            <div class="col-12 mt-4">
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-lg btn-c_yellow-700">Сохранить</button>
                    <button type="button" class="btn btn-lg btn-c_grey-100" data-goto="{{ order.get_admin_show_url }}">Отмена</button>
                </div>
            </div>

        </div>

    </form>

    <!-- purchases -->

    <div class="shadow p-3 d-flex flex-column gap-4 mt-5">

        <div class="text-center">
            <span class="fw-bold fs-5">Покупки в заказе</span>
        </div>

        <div class="overflow-auto mt-4 rounded-2">

            {% if not order.date_full_prepayment %}
                <button class="btn btn-c_grey-100 w-100 rounded-0 py-2 fw-bold" type="button" data-bs-toggle="modal" data-bs-target="#purchase_type_modal">
                    + Добавить
                </button>
            {% endif %}

                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Наименование</th>
                        <th scope="col">Начало</th>
                        <th scope="col">Конец</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Стоимость</th>
                        <th scope="col">prepay</th>
                        <th scope="col">refund</th>
                        <th scope="col">Оплачено</th>
                        <th scope="col" class="px-3 text-center" type="button">Изменить</th>
                        <th scope="col" class="px-3 text-center" type="button">Убрать</th>
                    </tr>
                    </thead>
                    <tbody class="additional_info_tbody" id="tags_list_body">

                        {% for purchase in order.purchases.all %}
                            {% if purchase.is_canceled %}
                                <tr class="opacity-50">
                            {% else %}
                                <tr>
                            {% endif %}

                                <th scope="row">{{ purchase.offer.pk }}</th>
                                <td>
                                    <a href="{{ purchase.offer.get_admin_show_url }}" class="link-hover d-block">{{ purchase.offer.name }}</a>
                                </td>
                                <td>
                                    {{ purchase.start }}
                                </td>
                                <td>
                                    {{ purchase.end }}
                                </td>
                                <td>
                                    {% if purchase.quantity %}
                                        {{ purchase.quantity }}
                                    {% else %}
                                        Нет
                                    {% endif %}
                                </td>
                                <td>
                                    {{ purchase.price }}
                                </td>
                                <td>
                                    {{ purchase.prepayment }}
                                </td>
                                <td>
                                    {{ purchase.refund }}
                                </td>
                                <td>
                                    {% if purchase.is_paid %}
                                        Полностью
                                    {% elif purchase.is_prepayment_paid %}
                                        Предоплата
                                    {% else %}
                                        Нет
                                    {% endif %}
                                </td>
                                <td class="p-0 position-relative w-10r">
                                    <form method="post" action="{{ purchase.get_info_url }}" class="edit_additional_form" >
                                        {% csrf_token %}
                                        {% with purchase.offer|offer_type as modelclass %}
                                            {% if modelclass == "Room" %}
                                                <button class="btn btn-primary w-100 rounded-0 h-100 position-absolute" {% if purchase.is_canceled or order.date_full_paid %}disabled{% endif %} type="button" data-popup="#edit_room_purchase_modal" data-bs-toggle="modal" data-bs-target="#edit_room_purchase_modal" data-id="{{ purchase.pk }}" data-url="{{ purchase.get_edit_url }}">Изменить</button>
                                            {% elif modelclass == "Service" %}
                                                <button class="btn btn-primary w-100 rounded-0 h-100 position-absolute" {% if purchase.is_canceled or order.date_full_paid %}disabled{% endif %} type="button" data-popup="#edit_service_purchase_modal" data-bs-toggle="modal" data-bs-target="#edit_service_purchase_modal" data-set-called-by="#edit_service_purchase_modal" data-id="{{ purchase.pk }}" data-url="{{ purchase.get_edit_url }}">Изменить</button>
                                            {% endif %}
                                        {% endwith %}
                                    </form>
                                </td>
                                <td class="p-0 position-relative w-10r">
                                    <form method="post" action="{{ purchase.get_cancel_url }}">
                                        {% csrf_token %}
                                        <button class="btn btn-danger w-100 rounded-0 h-100 position-absolute" type="submit" {% if purchase.is_canceled or order.date_canceled or order.date_finished %}disabled{% endif %} data-id="{{ purchase.pk }}">Отменить</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>


        </div>


    </div>

    <!-- end purchases -->

{% endblock content %}

{% block popups %}
    {% include 'order/select_purchase_type_popup.html' %}
    {% include 'order/rooms_popup.html' %}
    {% include 'order/services_popup.html' %}
    {% include 'order/edit_room_purchase_popup.html' %}
    {% include 'order/create_room_purchase_popup.html' %}
    {% include 'order/edit_service_purchase_popup.html' %}
    {% include 'order/create_service_purchase_popup.html' %}
    {% include 'order/timetables_popup.html' %}
{% endblock popups %}
