<!-- rooms popup -->
<div class="modal fade" id="pick_room_modal" tabindex="-1" aria-labelledby="pick_room_label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="pick_room_label">Выбор номера</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="shadow p-3 rounded-2 d-flex flex-column gap-4 position-relative">

                <form action="{% url 'get_rooms_for_order'  order_id=order.id  %}" method="POST" class="find_form ajax_search" id="search_rooms" data-popup-to-open="#create_room_purchase_modal">

                    {% csrf_token %}

                    <i class="fa-regular fa-trash-can text-danger card_icon card_icon__delete clean_btn"></i>

                    <div class="text-center">
                        <span class="fw-bold fs-5">Номера</span>
                    </div>

                    <div class="shadow p-3 rounded-2">

                        <div class="row align-items-start justify-content-between">

                            <div class="col-12 row mx-auto p-0">

                                <div class="col-lg-2 col-12">
                                    <label for="{{ form_rooms.id.id_for_label }}" class="form-label">{{ form_rooms.id.label }}</label>
                                    {{ form_rooms.id }}
                                </div>

                                <div class="col-lg-4 col-6 mt-md-0 mt-3 d-flex justify-content-md-end">
                                    <div>
                                        <span class="form-label">Кол-во спальных мест:</span>
                                        <div class="d-flex justify-content-start gap-0">
                                            <div class="input-group flex-nowrap w-auto">
                                                <label for="{{ form_rooms.beds_from.id_for_label }}" class="input-group-text rounded-start" >{{ form_rooms.beds_from.label }}</label>
                                                {{ form_rooms.beds_from }}
                                            </div>
                                            <div class="input-group flex-nowrap w-auto">
                                                <label for="{{ form_rooms.beds_until.id_for_label }}" class="input-group-text  rounded-0" >{{ form_rooms.beds_until.label }}</label>
                                                {{ form_rooms.beds_until }}
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-4 col-6 mt-md-0 mt-3">
                                    <label for="room_rooms" class="form-label">Кол-во комнат:</label>
                                    <div class="d-flex justify-content-start gap-0">
                                        <div class="input-group flex-nowrap w-auto">
                                            <label for="{{ form_rooms.rooms_from.id_for_label }}" class="input-group-text rounded-start" >{{ form_rooms.rooms_from.label }}</label>
                                            {{ form_rooms.rooms_from }}
                                        </div>
                                        <div class="input-group flex-nowrap w-auto">
                                            <label  for="{{ form_rooms.rooms_until.id_for_label }}" class="input-group-text  rounded-0" >{{ form_rooms.rooms_until.label }}</label>
                                            {{ form_rooms.rooms_until }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12 mt-3">
                                    <label for="{{ form_rooms.name.id_for_label }}" class="form-label">{{ form_rooms.name.label }}</label>
                                    {{ form_rooms.name }}
                                </div>

                                <div class="col-lg-5 col-12 mt-3">
                                    <span class="form-label">Свободен:</span>

                                    <div class="d-flex justify-content-start gap-0">
                                        <div class="input-group flex-nowrap w-auto">
                                            <label for="{{ form_rooms.dates_from.id_for_label }}" class="input-group-text rounded-start" >{{ form_rooms.dates_from.label }}</label>
                                            {{ form_rooms.dates_from }}
                                        </div>
                                        <div class="input-group flex-nowrap w-auto">
                                            <label for="{{ form_rooms.dates_until.id_for_label }}" class="input-group-text  rounded-0" >{{ form_rooms.dates_until.label }}</label>
                                            {{ form_rooms.dates_until }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12 mt-3">
                                    <span class="form-label">Обычная цена:</span>

                                    <div class="d-flex justify-content-start gap-0">
                                        <div class="input-group flex-nowrap w-auto">
                                            <label for="{{ form_rooms.price_from.id_for_label }}" class="input-group-text rounded-start" >{{ form_rooms.price_from.label }}</label>
                                            {{ form_rooms.price_from }}
                                        </div>
                                        <div class="input-group flex-nowrap w-auto">
                                            <label for="{{ form_rooms.price_until.id_for_label }}" class="input-group-text  rounded-0" >{{ form_rooms.price_until.label }}</label>
                                            {{ form_rooms.price_until }}
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-12 mt-4">
                                <button class="btn btn-c_yellow-700 w-100 ">Найти</button>
                            </div>

                        </div>

                    </div>
                </form>

                <form class="rounded-2 overflow-auto" method="post" action="." id="select_room_purchase">

                    {% csrf_token %}

                    <table class="table table-striped table-hover table-bordered">
                        <thead data-find-form="#search_rooms">
                        <tr id="rooms_sorting">
                            <th scope="col" class="bg-c_yellow-700 text-nowrap col-hover" role="button" data-sortby="id" data-sortby-active>
                                id <i class="fa-solid fa-arrow-down-short-wide text-c_yellow-700"></i>
                            </th>
                            <th scope="col" class="text-nowrap col-hover" role="button" data-sortby="name">
                                Наименование <i class="fa-solid fa-arrow-down-short-wide text-c_yellow-700"></i>
                            </th>
                            <th scope="col" class="text-nowrap col-hover" role="button" data-sortby="beds">
                                Спальный мест <i class="fa-solid fa-arrow-down-short-wide text-c_yellow-700"></i>
                            </th>
                            <th scope="col" class="text-nowrap col-hover" role="button" data-sortby="rooms">
                                Комнат <i class="fa-solid fa-arrow-down-short-wide text-c_yellow-700"></i>
                            </th>
                            <th scope="col" class="text-nowrap col-hover" role="button" data-sortby="default_price">
                                Обычная цена <i class="fa-solid fa-arrow-down-short-wide text-c_yellow-700"></i>
                            </th>
                            <th scope="col" class="text-nowrap">
                                Выбрать
                            </th>
                        </tr>
                        </thead>
                        <tbody data-find-form="#search_rooms">

                        </tbody>
                    </table>

                </form>

                <nav class="d-flex justify-content-center">
                    <ul class="pagination"  data-find-form="#search_rooms"></ul>
                </nav>

            </div>
        </div>
      </div>
    </div>
</div>
<!-- rooms popup end -->
