<!-- modal select purchase type -->
    <div class="modal fade" id="purchase_type_modal" tabindex="-1" aria-labelledby="purchase_type_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="purchase_type_label">Выберите тип покупки</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-column gap-5 align-items-center my-1">
                        <button class="btn btn-primary w-10r open_search_btn" data-popup-to-clean="#create_room_purchase_modal" data-form="#search_rooms" type="button" data-bs-toggle="modal" data-bs-target="#pick_room_modal">Номер</button>
                        <button class="btn btn-primary w-10r open_search_btn" data-popup-to-clean="#create_service_purchase_modal" data-set-called-by="#create_service_purchase_modal" data-form="#search_services" type="button" data-bs-toggle="modal" data-bs-target="#pick_service_modal">Услуга</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- modal select purchase type end -->