<!-- clients popup -->
<div class="modal fade" id="pick_timetable_modal" tabindex="-1" aria-labelledby="pick_timetable_label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="pick_timetable_label">Выбор времени</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="shadow p-3 rounded-2 d-flex flex-column gap-4 mt-5 position-relative">

                <form action="{% url 'get_timetables_for_service' order_id=order.id  %}" method="POST" class="find_form" id="search_timetables">

                    {% csrf_token %}

                    <i class="fa-regular fa-trash-can text-danger card_icon card_icon__delete clean_btn"></i>

                    <div class="text-center">
                        <span class="fw-bold fs-5">Расписание</span>
                    </div>

                    <div class="shadow p-3 rounded-2">

                        <div class="row align-items-start justify-content-between">

                            <div class="col-12 row mx-auto p-0">

                                <div class="col-md-6 col-12">
                                    <label for="{{ form_timetables.start.id_for_label }}" class="form-label">{{ form_timetables.start.label }}</label>
                                    {{ form_timetables.start }}
                                </div>

                                <div class="col-md-6 col-12">
                                    <label for="{{ form_timetables.end.id_for_label }}" class="form-label">{{ form_timetables.end.label }}</label>
                                    {{ form_timetables.end }}
                                </div>

                            </div>

                            <div class="col-12 mt-3">
                                <button class="btn btn-c_yellow-700 w-100 ">Найти</button>
                            </div>

                        </div>

                    </div>
                </form>

                <form class="rounded-2 overflow-hidden" method="post" action="." id="select_timetable">

                    {% csrf_token %}

                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th scope="col" class="bg-c_yellow-700 text-nowrap col-hover" role="button" data-sortby="start" data-sortby-active>
                                Начало<i class="fa-solid fa-arrow-down-short-wide text-c_yellow-700"></i>
                            </th>
                            <th scope="col" class="text-nowrap col-hover" role="button" data-sortby="end">
                                Конец <i class="fa-solid fa-arrow-down-short-wide text-c_yellow-700"></i>
                            </th>
                            <th scope="col" class="text-nowrap">
                                Выбрать
                            </th>
                        </tr>
                        </thead>
                        <tbody id="timetables_tbody">

                        </tbody>
                    </table>

                </form>

                <nav class="d-flex justify-content-center mt-4">
                    <ul class="pagination" id="timetables_pagination"></ul>
                </nav>

            </div>
        </div>
      </div>
    </div>
</div>
<!-- clients popup end -->
